<html>
<html>
  <head>
    <script type="text/javascript" src="jquery-2.1.1.js"></script>
<script type="text/javascript" src="jquery.ui.labeleslider.js"></script>
  </head>
<form method="post" action = "/tasting">
Sour <select name="sour">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>
<BR>
<input type="submit" value="Submit">
</form>
</html>
