<html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <script type="text/javascript" src="jquery-2.1.1.js"></script>
  <script type="text/javascript" src="jquery-ui.js"></script>
  <script type="text/javascript" src="jquery.ui.labeledslider.js"></script>
  <link rel="stylesheet" href="jquery.ui.labeledslider.css">
  <script>
  $(function() {

    $('#nose_slider').labeledslider({ max: 4, tickInterval: 1,
      slide: function( event, ui ) {
        //Its setting the slider value to the element with id "amount"
        $( "#nose" ).val(ui.value );
      }
    });

    $('#berry_slider').labeledslider({ max: 4, tickInterval: 1,
      slide: function( event, ui ) {
        //Its setting the slider value to the element with id "amount"
        $( "#berry" ).val(ui.value );
      }
    });

    $('#citrus_slider').labeledslider({ max: 4, tickInterval: 1,
      slide: function( event, ui ) {
        //Its setting the slider value to the element with id "amount"
        $( "#citrus" ).val(ui.value );
      }
    });

    $('#stonefruit_slider').labeledslider({ max: 4, tickInterval: 1,
      slide: function( event, ui ) {
        //Its setting the slider value to the element with id "amount"
        $( "#stonefruit" ).val(ui.value );
      }
    });

    $('#grassy_slider').labeledslider({ max: 4, tickInterval: 1,
      slide: function( event, ui ) {
        //Its setting the slider value to the element with id "amount"
        $( "#grassy" ).val(ui.value );
      }
    });

    $('#floral_slider').labeledslider({ max: 4, tickInterval: 1,
      slide: function( event, ui ) {
        //Its setting the slider value to the element with id "amount"
        $( "#floral" ).val(ui.value );
      }
    });

    $('#spicy_slider').labeledslider({ max: 4, tickInterval: 1,
      slide: function( event, ui ) {
        //Its setting the slider value to the element with id "amount"
        $( "#spicy" ).val(ui.value );
      }
    });

    $('#mineral_slider').labeledslider({ max: 4, tickInterval: 1,
      slide: function( event, ui ) {
        //Its setting the slider value to the element with id "amount"
        $( "#mineral" ).val(ui.value );
        }
      });

    $('#sweet_slider').labeledslider({ max: 4, tickInterval: 1,
      slide: function( event, ui ) {
        //Its setting the slider value to the element with id "amount"
        $( "#sweet" ).val(ui.value );
        }
      });

    $('#sour_slider').labeledslider({ max: 4, tickInterval: 1,
      slide: function( event, ui ) {
        //Its setting the slider value to the element with id "amount"
        $( "#sour" ).val(ui.value );
      }
    });

$('#woody_slider').labeledslider({ max: 4, tickInterval: 1,
  slide: function( event, ui ) {
    //Its setting the slider value to the element with id "amount"
    $( "#woody" ).val(ui.value );
    }
  });

$('#tannic_slider').labeledslider({ max: 4, tickInterval: 1,
  slide: function( event, ui ) {
    //Its setting the slider value to the element with id "amount"
    $( "#tannic" ).val(ui.value );
    }
  });

  $('#body_slider').labeledslider({ max: 4, tickInterval: 1,
    slide: function( event, ui ) {
      //Its setting the slider value to the element with id "amount"
      $( "#body" ).val(ui.value );
      }
    });

    $('#balance_slider').labeledslider({ max: 4, tickInterval: 1,
      slide: function( event, ui ) {
        //Its setting the slider value to the element with id "amount"
        $( "#balance" ).val(ui.value );
        }
      });

      $('#finish_slider').labeledslider({ max: 4, tickInterval: 1,
        slide: function( event, ui ) {
          //Its setting the slider value to the element with id "amount"
          $( "#finish" ).val(ui.value );
          }
        });

  });
  </script>
  <style>

  * {
    font-family:   Verdana, Arial, Helvetica, sans-serif;
    font-size:     12pt;
  }

  .wrapper {
    position: relative;
    margin: auto;
    width: 400px;
    height: 400px;
    margin-top: 50px;
  }

  .sliders {
    width: 400px;
    height: 400px;
  }

  .controls {
    position: absolute;
    bottom: 30px;
    right: 0;
    font-size: 8pt;
    text-align: right;
  }
  .controls .label { font-size: .9em; }
  .ui-spinner { width: 4em; }

  </style>
</head>
<form method="post" action = "/tasting">

  Nose <BR>
  <BR>
  <input name="nose" id ="nose" value="0" type="hidden">
  <div id="nose_slider" class="slider"></div>

  Berry <BR>
  <BR>
  <input name="berry" id ="berry" value="0" type="hidden">
  <div id="berry_slider" class="slider"></div>

  Citrus <BR>
  <BR>
  <input name="citrus" id ="citrus" value="0" type="hidden">
  <div id="citrus_slider" class="slider"></div>

  Stone Fruit <BR>
  <BR>
  <input name="stonefruit" id ="stonefruit" value="0" type="hidden">
  <div id="stonefruit_slider" class="slider"></div>

  Grassy <BR>
  <BR>
  <input name="grassy" id ="grassy" value="0" type="hidden">
  <div id="grassy_slider" class="slider"></div>

  Floral <BR>
  <BR>
  <input name="floral" id ="floral" value="0" type="hidden">
  <div id="floral_slider" class="slider"></div>

  Spicy <BR>
  <BR>
  <input name="spicy" id ="spicy" value="0" type="hidden">
  <div id="spicy_slider" class="slider"></div>

  Mineral <BR>
  <BR>
  <input name="mineral" id ="mineral" value="0" type="hidden">
  <div id="mineral_slider" class="slider"></div>

  Sweet <BR>
  <BR>
  <input name="sweet" id ="sweet" value="0" type="hidden">
  <div id="sweet_slider" class="slider"></div>

  Sour <BR>
  <BR>
  <input name="sour" id ="sour" value="0" type="hidden">
  <div id="sour_slider" class="slider"></div>

  Woody <BR>
  <BR>
  <input name="woody" id ="woody" value="0" type="hidden">
  <div id="woody_slider" class="slider"></div>

  Tannic <BR>
  <BR>
  <input name="tannic" id ="tannic" value="0" type="hidden">
  <div id="tannic_slider" class="slider"></div>

  Body <BR>
  <BR>
  <input name="body" id ="body" value="0" type="hidden">
  <div id="body_slider" class="slider"></div>

  Balance <BR>
  <BR>
  <input name="balance" id ="balance" value="0" type="hidden">
  <div id="balance_slider" class="slider"></div>

  Finish <BR>
  <BR>
  <input name="finish" id ="finish" value="0" type="hidden">
  <div id="finish_slider" class="slider"></div>

  <input type="submit" value="Submit">

</form>
</html>
