<form method="post" action = "/tasting">
Sour <select name="sour">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>
<BR>
<input type="submit" value="Submit">
</form>
